<launch>


    <!-- MASTER NODE! -->
    <node name="run_serial_msckf" pkg="ov_msckf" type="run_serial_msckf" output="screen" clear_params="true" required="true">
<!--        <node name="run_serial_msckf" pkg="ov_msckf" type="run_serial_msckf" output="screen" clear_params="true" required="true" launch-prefix="gdb -ex run &#45;&#45;args">-->

        <!-- bag topics -->
        <param name="topic_imu"      type="string" value="/t265/imu" />
        <param name="topic_camera0"  type="string" value="/t265/fisheye1/image_raw" />
        <param name="topic_camera1"  type="string" value="/t265/fisheye2/image_raw" />

        <!-- bag parameters -->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435/2020-07-17-11-13-13.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435/2020-07-17-11-18-38.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_t265/2020-07-17-11-41-04.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_t265/2020-07-17-11-43-30.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435_19/bag_01.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435_19_2/bag_02.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435_19_3/bag_03.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435_19_4/bag_04.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_t265_19/bag_01.bag" />-->
<!--            <param name="path_bag"    type="string" value="/home/lin/Data/dataset/jackal/bag_spl209_02.bag" />-->
            <param name="path_bag"    type="string" value="/home/lin/Data/dataset/jackal/real_sense/rs_016.bag" />

<!--        <param name="bag_start"   type="int"    value="55" />-->
<!--        <param name="bag_durr"    type="int"    value="400" />-->
            <param name="bag_start"   type="int"    value="0" />
            <param name="bag_durr"    type="int"    value="-1" />
<!--            <param name="bag_start"   type="int"    value="639" />-->
<!--            <param name="bag_durr"    type="int"    value="746" />-->
<!--            <param name="bag_start"   type="int"    value="802" />-->
<!--            <param name="bag_durr"    type="int"    value="896" />-->
<!--            <param name="bag_start"   type="int"    value="896" />-->
<!--            <param name="bag_durr"    type="int"    value="972" />-->

        <!-- world/filter parameters -->
        <param name="use_fej"                type="bool"   value="true" />
        <param name="use_imuavg"             type="bool"   value="true" />
        <param name="use_rk4int"             type="bool"   value="true" />
        <param name="use_stereo"             type="bool"   value="true" />
        <param name="calib_cam_extrinsics"   type="bool"   value="true" />
        <param name="calib_cam_intrinsics"   type="bool"   value="true" />
        <param name="calib_cam_timeoffset"   type="bool"   value="true" />
        <param name="calib_camimu_dt"        type="double" value="0.00023" />
        <param name="max_clones"             type="int"    value="15" />
        <param name="max_slam"               type="int"    value="30" />
        <param name="max_cameras"            type="int"    value="2" />
        <param name="dt_slam_delay"          type="double" value="5" />
        <param name="feat_representation"    type="string" value="ANCHORED_3D" />
        <param name="init_window_time"       type="double" value="1.0" />
        <param name="init_imu_thresh"        type="double" value="0.3" />
        <rosparam param="gravity">[0.0,0.0,9.80766]</rosparam>

        <!-- tracker/extractor properties -->
        <param name="use_klt"          type="bool"   value="true" />
        <param name="num_pts"          type="int"    value="500" />
        <param name="fast_threshold"   type="int"    value="10" />
        <param name="grid_x"           type="int"    value="5" />
        <param name="grid_y"           type="int"    value="3" />
        <param name="min_px_dist"      type="int"    value="5" />
        <param name="knn_ratio"        type="double" value="0.65" />

        <!-- aruco tag/mapping properties -->
        <param name="use_aruco"        type="bool"   value="true" />
        <param name="num_aruco"        type="int"    value="1024" />
        <param name="downsize_aruco"   type="bool"   value="false" />

        <!-- sensor noise values / update -->
        <param name="up_msckf_sigma_px"            type="double"   value="1" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <param name="up_slam_sigma_px"             type="double"   value="1" />
        <param name="up_slam_chi2_multipler"       type="double"   value="1" />
        <param name="up_aruco_sigma_px"            type="double"   value="1" />
        <param name="up_aruco_chi2_multipler"      type="double"   value="1" />
        <param name="gyroscope_noise_density"      type="double"   value="1.6968e-04" />
        <param name="gyroscope_random_walk"        type="double"   value="1.9393e-05" />
        <param name="accelerometer_noise_density"  type="double"   value="3.0000e-3" />
        <param name="accelerometer_random_walk"    type="double"   value="3.0000e-3" />
<!--            <param name="gyroscope_noise_density"      type="double"   value="5.148030140844639e-05" />-->
<!--            <param name="gyroscope_random_walk"        type="double"   value="4.999999987376214e-06" />-->
<!--            <param name="accelerometer_noise_density"  type="double"   value="6.695245247101411e-04" />-->
<!--            <param name="accelerometer_random_walk"    type="double"   value="9.999999747378752e-04" />-->


            <!-- camera intrinsics -->
            <param name="cam0_is_fisheye" type="bool" value="true" />
            <param name="cam1_is_fisheye" type="bool" value="true" />
            <rosparam param="cam0_sz">[848,800]</rosparam>
            <rosparam param="cam1_sz">[848,800]</rosparam>
            <rosparam param="cam0_k">[291.13796066966404, 291.36394099713164, 423.6993278899455, 392.83583649171186]</rosparam>
            <rosparam param="cam0_d">[-0.0848522710825053, 0.25362120938018384, -0.2551190188579361, 0.08022766563879905]</rosparam>
            <rosparam param="cam1_k">[286.528009660187, 286.5624852633101, 422.2802115463195, 397.3341035736785]</rosparam>
            <rosparam param="cam1_d">[0.041634397718402064, -0.07541171196161034, 0.06973719488574245, -0.026937810584564664]</rosparam>
            <!-- camera extrinsics -->
            <rosparam param="T_C0toI">
                    [
                    -0.99981617, -0.00241359,  0.01902117,  0.00071215,
                    0.00246341, -0.99999359,  0.00259647,  0.00115544,
                    0.01901478,  0.00264285,  0.99981571,  0.00141113,
                    0.0,         0.0,         0.0,         1.0
                    ]
            </rosparam>
            <rosparam param="T_C1toI">
                    [
                    -0.99992173,  0.00085997,  0.01248166, -0.06297098,
                    -0.00079132, -0.99998454,  0.00550389,  0.00074028,
                    0.0124862,   0.00549359,  0.99990695,  0.00267563,
                    0.0,         0.0,         0.0,         1.0
                    ]
            </rosparam>


    </node>


</launch>