<launch>


    <!-- MASTER NODE! -->
    <node name="run_serial_msckf" pkg="ov_msckf" type="run_serial_msckf" output="screen" clear_params="true" required="true">
<!--        <node name="run_serial_msckf" pkg="ov_msckf" type="run_serial_msckf" output="screen" clear_params="true" required="true" launch-prefix="gdb -ex run &#45;&#45;args">-->

        <!-- bag topics -->
        <param name="topic_imu"      type="string" value="/imu_ms/data" />
        <param name="topic_camera0"  type="string" value="/camera_pg/image_raw" />
<!--        <param name="topic_camera1"  type="string" value="/camera/color/image_raw" />-->

        <!-- bag parameters -->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435/2020-07-17-11-13-13.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435/2020-07-17-11-18-38.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_t265/2020-07-17-11-41-04.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_t265/2020-07-17-11-43-30.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435_19/bag_01.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435_19_2/bag_02.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435_19_3/bag_03.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_d435_19_4/bag_04.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_pg_imu_02/bag_02.bag" />-->
<!--        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_pg_imu_01/bag_01.bag" />-->
        <param name="path_bag"    type="string" value="/home/rpng/datasets/sara_calib_pg_02/pg_02.bag" />
        <param name="bag_start"   type="int"    value="1" />
        <param name="bag_durr"    type="int"    value="-1" />

        <!-- world/filter parameters -->
        <param name="use_fej"                type="bool"   value="true" />
        <param name="use_imuavg"             type="bool"   value="true" />
        <param name="use_rk4int"             type="bool"   value="true" />
        <param name="use_stereo"             type="bool"   value="true" />
        <param name="calib_cam_extrinsics"   type="bool"   value="true" />
        <param name="calib_cam_intrinsics"   type="bool"   value="true" />
        <param name="calib_cam_timeoffset"   type="bool"   value="true" />
        <param name="calib_camimu_dt"        type="double" value="-0.0376231821947" />
        <param name="max_clones"             type="int"    value="10" />
        <param name="max_slam"               type="int"    value="30" />
        <param name="max_cameras"            type="int"    value="1" />
        <param name="dt_slam_delay"          type="double" value="5" />
        <param name="feat_representation"    type="string" value="ANCHORED_3D" />
        <param name="init_window_time"       type="double" value="1.0" />
        <param name="init_imu_thresh"        type="double" value="0.3" />
        <rosparam param="gravity">[0.0,0.0,9.80766]</rosparam>

        <!-- tracker/extractor properties -->
        <param name="use_klt"          type="bool"   value="true" />
        <param name="num_pts"          type="int"    value="400" />
        <param name="fast_threshold"   type="int"    value="10" />
        <param name="grid_x"           type="int"    value="5" />
        <param name="grid_y"           type="int"    value="3" />
        <param name="min_px_dist"      type="int"    value="5" />
        <param name="knn_ratio"        type="double" value="0.65" />

        <!-- aruco tag/mapping properties -->
        <param name="use_aruco"        type="bool"   value="false" />
        <param name="num_aruco"        type="int"    value="1024" />
        <param name="downsize_aruco"   type="bool"   value="true" />

        <!-- sensor noise values / update -->
        <param name="up_msckf_sigma_px"            type="double"   value="1" />
        <param name="up_msckf_chi2_multipler"      type="double"   value="1" />
        <param name="up_slam_sigma_px"             type="double"   value="1" />
        <param name="up_slam_chi2_multipler"       type="double"   value="1" />
        <param name="up_aruco_sigma_px"            type="double"   value="1" />
        <param name="up_aruco_chi2_multipler"      type="double"   value="1" />
        <param name="gyroscope_noise_density"      type="double"   value="1.6968e-04" />
        <param name="gyroscope_random_walk"        type="double"   value="1.9393e-05" />
        <param name="accelerometer_noise_density"  type="double"   value="3.0000e-3" />
        <param name="accelerometer_random_walk"    type="double"   value="3.0000e-3" />


<!--        &lt;!&ndash; camera intrinsics &ndash;&gt;-->
<!--        <param name="cam0_is_fisheye" type="bool" value="true" />-->
<!--            <rosparam param="cam0_k">[493.8927678056239, 492.67448158870775, 399.12418359066714, 327.44085655941797]</rosparam>-->
<!--            <rosparam param="cam0_d">[-0.07619202176056616, 0.003787684884668601, -0.013358543555244486, 0.0067911944821123045]</rosparam>-->
<!--        &lt;!&ndash; camera extrinsics &ndash;&gt;-->
<!--            <rosparam param="T_C0toI">-->
<!--                    [ 0.99936263,  0.01298865,  0.03325112,  0.1321472,-->
<!--                     0.03302234,  0.01744751, -0.99930231, -0.04458355,-->
<!--                    -0.01355974,  0.99976341,  0.01700747, -0.02524139,-->
<!--                     0,          0,          0,          1        ]-->
<!--            </rosparam>-->


            <!-- camera intrinsics -->
            <param name="cam0_is_fisheye" type="bool" value="true" />
            <rosparam param="cam0_k">[500.551499866153, 499.9066476557916, 399.7422337128887, 313.1105425139164]</rosparam>
            <rosparam param="cam0_d">[-0.06394686597175253, -0.02079574829966914, 0.007852675950830865, 0.00030319476466166034]</rosparam>
            <!-- camera extrinsics -->
            <rosparam param="T_C0toI">
                    [ 0.99969601,  0.0244104,  -0.00346757,  0.12736597,
                    -0.00367196,  0.00833353, -0.99995853, -0.03632696,
                    -0.02438049,  0.99966729,  0.00842063, -0.02754304,
                     0,          0,          0,          1        ]
            </rosparam>

    </node>


</launch>